{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static '@/public/logo_chara.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Protector</title>
    <style>
    </style>
    <script type="module" crossorigin src="{% static '/vue/assets/index-DKv5JukU.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static '/vue/assets/index-D3w-EDdV.css' %}">
</head>
<body>
    <div id="app"></div>
</body>
</html>
