.downLoadPage[data-v-5a4927ef]{width:200px;margin:0 auto}.downLoadPage[data-v-5a4927ef] .downLoad_icon[data-v-5a4927ef]{margin-top:20%;width:250px}.downLoadPage[data-v-5a4927ef] .downloadFileName[data-v-5a4927ef]{margin:0 auto;text-align:center}
