.questionList[data-v-cc90b0d6]{font-size:14px;margin-top:50px}.question-title[data-v-cc90b0d6]{font-size:30px;font-family:Courier New,Courier,monospace;margin-left:50px}.question-answer[data-v-cc90b0d6]{margin-left:40px;font-size:20px}.space[data-v-cc90b0d6]{margin-left:200px;margin-right:200px}.background[data-v-cc90b0d6]{background-image:url();background-repeat:no-repeat;width:100%;height:100%;background-attachment:fixed}
